body {
  font-size: 20px;
  margin: 0;
  color: #fff;
  background-color: #000000;
}
h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 3.25em;
}
h3 {
  font-size: 3em;
}
h4 {
  font-size: 2.75em;
}
h5 {
  font-size: 2.5em;
}
h6 {
  font-size: 2.25em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

p {
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;

  box-shadow: 0px 20px 10px -10px rgb(0 0 0 / 75%);

  padding: 0.5em;
  font-size: clamp(1rem, 2.5vw, 2rem);
  background-color: rgb(60, 60, 60);
}
section {
  margin: 0;
  padding: 0;
}

ol > * {
  font-size: 1.5em;
}

img {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}